# Auto detect text files and perform LF normalization
* text=auto

# The above will handle all files not found below

*.7z binary
*.DOC diff=astextplain
*.DOCX diff=astextplain
*.DOT diff=astextplain
*.PDF diff=astextplain
*.RTF diff=astextplain
*.bat text
*.bowerrc text
*.coffee text
*.css text
*.csv text
*.doc diff=astextplain
*.docx diff=astextplain
*.dot text
*.ejs text
*.eot binary
*.fla binary
*.flv binary
*.gif binary
*.gz binary
*.haml text
*.hbs text
*.hbt text
*.htm text
*.html text
*.ico binary
*.inc text
*.ini text
*.jade text
*.jpeg binary
*.jpg binary
*.js text
*.json text
*.less text
*.md text
*.mov binary
*.mp3 binary
*.mp4 binary
*.npmignore text
*.pdf binary
*.php text
*.phtml text
*.pl text
*.png binary
*.py text
*.pyc binary
*.rb text
*.rtf diff=astextplain
*.sass text
*.scm text
*.scss text
*.sh text
*.sql text
*.styl text
*.svg text
*.swf binary
*.tif binary
*.tiff binary
*.tmpl text
*.ttf binary
*.txt text
*.woff binary
*.xml text
*.yaml text
*.yml text
*.zip binary
.csslintrc text
.editorconfig text
.gitattributes text
.gitconfig text
.gitignore text
.htaccess text
.jscsrc text
.jshintignore text
.jshintrc text
.slugignore text
AUTHORS text
LICENSE text
Procfile text
